$white: #fff;
$black: #000;
$whiteEAE: #EAEAEA;
$black1a1: #1a1a1a;
$black1b1: #1b1b1b;
$black161: #161616;
$brown776: #776637;
$brown826: #827c6c;
$brown4a3: #4A3F35;
$graye2e: #e2e2e2;
$grayf6f: #f6f6f6;
$graybdb: #bdbdbd;
$green25d: #25d366;
$green075: #075e54;
$sandf5e: #F5EBDD;
$sand3c2: #3C2F2F;